<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<img src="~/img/Hotels/Spa Hotel Dvoretsa3.jpg"></>
    <img src="~/img/Cars/Bmw X3 2018.jpg"></>
    <img src="~/img/Cars/Bmw X1 2015.jpg"></>
    <img src="~/img/Cars/Peugeot 3008.jpg"></>
    <img src="~/img/Cars/Peugeot-408-2015.jpg"></>
    <img src="~/img/Cars/Mercedes CLA 2014.jpg"></>
    <img src="~/img/Cars/Mercedes C63 2012.jpg"></>
    <img src="~/img/Cars/BMW-530d 2017.jpg"></>
    <img src="~/img/Cars/Bmx X4 2015.jpg"></>
    <img src="~/img/Cars/Adui A7 2016.png"></>
    <img src="~/img/Cars/Skoda Ocativa 2013.jpg"></>
    <img src="~/img/Cars/Mercedes ML.jpg"></>
    <img src="~/img/Rooms/Spa Hotel Dvoretsa Apartment2.jpg"></img>
    <img src="~/img/Hotels/Spa Hotel Infinity.jpg" />*@
    <img src="~/img/Rooms/Infinity single room1.webp" />
    <img src="~/img/Rooms/Spa Hotel Infinity double bed1.jpg" />
    
</div>
