<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <img src="~/img/Rooms//Amelia rooms/Amelia double bed delux1.jpg" />
    
</div>
